<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.pages a,.pages span {
	    display:inline-block;
	    padding:5px 9px;
	    margin:0 1px;
	    border:1px solid #f0f0f0;
	}
	.pages a,.pages li {
	    display:inline-block;
	    list-style: none;
	    text-decoration:none; color:#58A0D3;
	}
	.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
	    margin:0;
	}
	.pages a:hover{
	    border-color:#50A8E6;
	}
	.pages span.current{
	    background:#50A8E6;
	    color:#FFF;
	    font-weight:700;
	    border-color:#50A8E6;
	}
</style>
</block>
<block name="smallmenu">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">主页</a>
		</li>

		<li class="active">已有互动大师名单列表</li>
	</ul><!-- /.breadcrumb -->

	<!-- #section:basics/content.searchbox -->
	<div class="nav-search" id="nav-search">
		<button class="btn btn-xs btn-pink" onClick='location.href="__MODULE__/Index/users_add"'>添加聊天记录
		</button>
	</div><!-- /.nav-search -->
</block>

<block name="content">
	<input type="hidden" id="crontab-s" />
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
			    <th class="center">大师名单</th>		
				<th class="center">操作</th>
			</tr>
		</thead>

		<tbody>
			<foreach name="user" item="v">
			<tr>

				<td class="center">{$v.user_username}</td>			
				<td class="center">
					<div class="hidden-sm hidden-xs btn-group">
						<div class="hidden-sm hidden-xs action-buttons">
							
							<a class="blue" style='cursor:pointer' title='查看已联系用户名单'onClick='location.href="__MODULE__/Chat/customerList/user_id/{$v.check_user_id}/p/{$p}"'>
								<i class="ace-icon fa fa-search-plus bigger-130"></i>
							</a>
							<a class="red" style='cursor:pointer' onClick='dialog_see({$v.id})' title='删除大师'>
								<i class="ace-icon fa fa-trash-o bigger-130"></i>
							</a>
							
				    		<if condition="$v.article_top eq '2'">
				    		<a href="__MODULE__/Article/article_top/article_id/{$v.article_id}/top/{$v.article_top}" style='width:18px;color:#999999'>
								<i class="ace-icon glyphicon glyphicon-arrow-down"></i>
							</a>
							<else />
							<a class="red" href="__MODULE__/Article/article_top/article_id/{$v.article_id}/top/{$v.article_top}" style='width:18px'>
								<i class="ace-icon glyphicon glyphicon-arrow-up"></i>
							</a>
							</if>
					
						</div>
					</div>
				</td>
			</tr>
		    </foreach>
		</tbody>
	</table>
<div class="pages" style="float:right">{$page}</div>
<!-- 删除大师模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-sm">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">删除聊天记录</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:15px;margin-left:2px;font-size:14px'>
              确定删除该聊天记录吗?
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>取消</button>
		 	<button type="button" class="btn btn-sm btn-primary" onClick='type_submit()'>确定</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    //模态框查看信息
    function dialog_see(obj) {
    	$('#crontab-s').val(obj);
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}

	//删除分类
    function type_delete(obj) {
    	$('#myModal').modal('show');
    }

    //删除提交
    function type_submit() {
    	var crontab = $('#crontab-s').val();
    	$('#myModal').modal('hide');
    	location.href="__MODULE__/Chat/deleteChatByChatId/chat_id/"+crontab;
    }
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu6').addClass('active open');
        $('#appointmentItem61').addClass('active');
    });
</script>
</block>