<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link href="__PUBLIC__/assets/css/select2.css" rel="stylesheet">
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{overflow:hidden}
.UploadValue{width:260px;float:left;margin-right:4px;text-indent:6px}
.UploadConfirm{position:absolute;top:0;left:0;height:35px;filter:alpha(opacity:0);opacity:0;width:337px}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">聊天记录列表</a>
	</li>
	<li class="active">修改聊天记录</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<form action="__MODULE__/Chat/updateChatContent/chat_id/{$chat.id}" method='post' id='myformedit' >
<input type="hidden" name='chat_id' id ="chat_id" value="{$chat.id}">
<input type="hidden" name='p' value="{$p}">
<input type="hidden" name='speciality' id='speciality'>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12"><span class="label label-info arrowed-in-right arrowed"><i class="ace-icon fa fa-user bigger-120"></i> 聊天记录详情</span></div>
</div>

<div class="row" style="margin-bottom:7px">
	<div class="col-xs-3"><input type="text" name='chat_username' value="{$chat.user_username}" readonly="true" class="col-xs-12"></div>	
	
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-3"><input type="text" name='chat_username2' value="{$chat.user_username2}" readonly class="col-xs-12"></div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12">
		<textarea id="form-field-11" class="autosize-transition form-control" style="overflow:hidden;word-wrap:break-word;resize:horizontal;height:60px;" name='chat_content'>{$chat.chat_content}</textarea>
	</div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-3"><input type="text" name='chat_time' value="{$chat.chat_time}" class="col-xs-12" readonly></div>
</div>

<button class="btn btn-primary" onClick="speciality_action()">提交</button> <span class="btn" onClick="location.href='__MODULE__/Chat/updateChat/user_id/{$user_id}'">返回</span>
</form>
</block>
<block name="scripts">
<script src="__PUBLIC__/assets/js/select2.js"></script>
</block>
<block name="jscript">
<script type="text/javascript">
    function speciality_action() {
    	$('#myformedit').submit();
    }
</script>
<script type="text/javascript">
    $(function(){
        $('#receiveMenu6').addClass('active open');
        $('#appointmentItem61').addClass('active');
    });
</script>
</block>