<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.profile-user-info {margin:0;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">文章列表</a>
	</li>
	<li class="active">查看文章详情</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<input type="hidden" id="crontab-s" name="article_id" value="{$article.article_id}" />

<form action="__MODULE__/Article/updateArticleAction/article_id/{$article.article_id}" method='post' id='myformedit' enctype="multipart/form-data">

<!-- #section:pages/profile.info -->



<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">文章类型</div>
		<div class="row" style="margin-bottom:7px">
			<div class="col-xs-5">
			<select name="article_type_id">
				<foreach name="article_type" item="v">
				  <option value ="{$v.type_id}">{$v.type_name}</option>
				</foreach>  
			</select>
			</div>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name">文章标题</div>

		<div class="row" style="margin-bottom:7px">
			<div class="col-xs-5">
				<input type="text" name='article_title' value="{$article.article_title}"class="col-xs-12">
			</div>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name">文章内容</div>
		<div class="row" style="margin-bottom:7px">
			<div class="col-xs-5">				
				<textarea rows="3" cols="50" name='article_content'>{$article.article_content}</textarea>
			</div>
		</div>
	</div>

	<div style='float:left'><span>图片请选择文章</span>		
		<input type="file" name="article_pic" class="UploadConfirm" id="lookname" size="28" onchange="document.getElementById('LookFind').value=this.value">
	</div>

	<button type="button" class="btn btn-sm btn-success" style='float:left;margin-left:4px' onClick="$('#myformedit').submit()"><i class="ace-icon fa fa-cloud-upload"></i> 确定</button>

	<button type="button" class="btn btn-sm btn-light" style='float:left;margin-left:4px' onClick='location.href="__MODULE__/Article/article_list/p/1"'><i class="ace-icon fa fa-arrow-left"></i> 返回</button>
	</div>
</form>
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu3').addClass('active open');
        $('#appointmentItem31').addClass('active');
    });
</script>
</block>