<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{width:100%;padding:15px 0;margin-bottom:15px;border-bottom:1px dashed #efefef;overflow:hidden}
.UploadValue{width:230px;float:left;margin-right:4px;text-indent:6px}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
	<li class="active">修改密码</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<div class="UploadBox">
<form id='formsubmit' action="" method="post" enctype="multipart/form-data">
    <input type="text" name="old_pwd" class="UploadValue" placeholder="请输入您的密码">
    <input type="text" name="new_pwd" class="UploadValue" placeholder="请输入您的新密码">
    <input type="text" name="confirm_pwd" class="UploadValue" placeholder="请确认您的密码">
	<button type="button" class="btn btn-sm btn-success" style='float:left' onClick="$('#formsubmit').submit();">确定</button>
	
</form>
</div>
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu10').addClass('active open');
        $('#appointmentItem1').addClass('active');
    });
</script>
</block>