<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/colorbox.css" />
</block>
<block name="stylecss">
<style type='text/css'>
.e2esck{position:relative;}
.e2esckh{position:absolute;top:0;left:0}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li class="active">项目分类</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"><button class="btn btn-xs btn-pink" onClick='location.href="__MODULE__/System/category_add"'>添加项目</button></div><!-- /.nav-search -->
</block>
<block name="content">
<input type="hidden" id='crontab-s'>
<div style='clear:both;'>
	<ul class="ace-thumbnails clearfix">
		<foreach name="category" item="v">
		<li>
			<div class='e2esck'>
				<img width="150" height="150" alt="项目详情页图像" src="__ROOT__/uploads/{$v.category_pic}">
				<div class='e2esckh'><img width="50" height="50" alt="首页图像" src="__ROOT__/uploads/{$v.category_pic2}" style='border:1px solid #FFFFFF'></div>
			</div>
			<div class="tags">
				<span class="label-holder">
					<if condition="$v.category_top eq 1">
						<span class="label label-warning arrowed-in" style='cursor:pointer' onClick='location.href="__MODULE__/System/category_topds/category_id/{$v.category_id}/top/{$v.category_top}"'>置顶</span>
					<else />
					    <span class="label label-warning arrowed-in" style='cursor:pointer' onClick='location.href="__MODULE__/System/category_topds/category_id/{$v.category_id}/top/{$v.category_top}"'>取消置顶</span>
					</if>
				</span>
				<span class="label-holder">
					<span class="label label-success" style='cursor:pointer' onClick="location.href='__MODULE__/System/category_update/category_id/{$v.category_id}'">修改</span>
				</span>
				<span class="label-holder">
					<span class="label label-info" style='cursor:pointer'>{$v.category_name}</span>
				</span>
				<span class="label-holder">
					<span class="label label-danger" style='cursor:pointer' onClick='category_delete({$v.category_id})'>删除</span>
				</span>
			</div>
		</li>
	    </foreach>
	</ul>
</div>
<!-- 添加分类模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-sm">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">删除分类</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:15px;margin-left:2px;font-size:14px'>
                如果删除分类，则分类下面内容将找不到该分类，你确定要删除吗？
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>取消</button>
		 	<button type="button" class="btn btn-sm btn-primary" onClick='category_submit()'>确定</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    //模态框查看信息
    function dialog_see() {
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}

	//删除分类
    function category_delete(obj) {
        $('#crontab-s').val(obj);
    	$('#myModal').modal('show');
    }

    //删除提交
    function category_submit() {
    	var crontab = $('#crontab-s').val();
    	$('#myModal').modal('hide');
    	location.href="__MODULE__/System/category_del/category_id/"+crontab;
    }
</script>
<script script="text/javascript">
    $ (function() {
        $('#receiveMenu1').addClass('active open');
        $('#appointmentItem11').addClass('active');
    });
</script>
</block>