<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    position: relative;
}
/* .ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close {
	
} */
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="#">系统设置</a>
	</li>
	<li class="active">Dialogs</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>

<block name="content">

	<h3 class="header blue lighter smaller">
		<i class="ace-icon fa fa-list-alt smaller-90"></i>
		System Dialogs
	</h3>
	<a href="#" id="id-btn-dialog2" class="btn btn-info btn-sm">Confirm Dialog（确认框）</a>
	<a href="#" id="id-btn-dialog1" class="btn btn-purple btn-sm">Modal Dialog（模态框）</a>

	<div id="dialog-message" class="hide">
		<p>
			This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.
		</p>

		<div class="hr hr-12 hr-double"></div>

		<p>
			Currently using
			<b>36% of your storage space</b>.
		</p>
	</div><!-- #dialog-message -->

	<div id="dialog-confirm" class="hide">
		<div class="alert alert-info bigger-110">
			These items will be permanently deleted and cannot be recovered.
		</div>

		<div class="space-6"></div>

		<p class="bigger-110 bolder center grey">
			<i class="ace-icon fa fa-hand-o-right blue bigger-120"></i>
			Are you sure?
		</p>
	</div><!-- #dialog-confirm -->

</block>
<block name="scripts">
<script src="__PUBLIC__/assets/js/jquery-ui.js"></script>
</block>
<block name="jscript">
<script type='text/javascript'>
$(function() {
    //override dialog's title function to allow for HTML titles
	$.widget("ui.dialog", $.extend({}, $.ui.dialog.prototype, {
		_title: function(title) {
			var $title = this.options.title || '&nbsp;'
			if( ("title_html" in this.options) && this.options.title_html == true )
				title.html($title);
			else title.text($title);
		}
	}));
    $( "#id-btn-dialog1" ).on('click', function(e) {
		e.preventDefault();

		var dialog = $( "#dialog-message" ).removeClass('hide').dialog({
			modal: true,
			title: "<div class='widget-header widget-header-small'><h4 class='smaller'><i class='ace-icon fa fa-check'></i> jQuery UI Dialog</h4></div>",
			title_html: true,
			buttons: [ 
				{
					text: "Cancel",
					"class" : "btn btn-xs",
					click: function() {
						//alert('11111');
						$( this ).dialog( "close" ); 
					} 
				},
				{
					text: "OK",
					"class" : "btn btn-primary btn-xs",
					click: function() {
						//alert('11111');
						$( this ).dialog( "close" ); 
					} 
				}
			]
		});

		/**
		dialog.data( "uiDialog" )._title = function(title) {
			title.html( this.options.title );
		};
		**/
	});


	$( "#id-btn-dialog2" ).on('click', function(e) {
		e.preventDefault();
	
		$( "#dialog-confirm" ).removeClass('hide').dialog({
			resizable: false,
			modal: true,
			title: "<div class='widget-header'><h4 class='smaller'><i class='ace-icon fa fa-exclamation-triangle red'></i> Empty the recycle bin?</h4></div>",
			title_html: true,
			'width':800,
			'height':500,
			buttons: [
				{
					html: "<i class='ace-icon fa fa-trash-o bigger-110'></i>&nbsp; Delete all items",
					"class" : "btn btn-danger btn-xs",
					click: function() {
						$( this ).dialog( "close" );
					}
				}
				,
				{
					html: "<i class='ace-icon fa fa-times bigger-110'></i>&nbsp; Cancel",
					"class" : "btn btn-xs",
					click: function() {
						$( this ).dialog( "close" );
					}
				}
			]
		});
	});
})
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu1').addClass('active open');
        $('#appointmentItem1').addClass('active');
    });
</script>
</block>