<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/colorbox.css" />
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{width:100%;padding:15px 0;margin-bottom:15px;padding-left:20%;border-bottom:1px dashed #efefef;overflow:hidden}
.UploadValue{width:200px;float:left;margin-right:4px;text-indent:6px}
.UploadConfirm{position:absolute;top:0;left:0;height:35px;filter:alpha(opacity:0);opacity:0;width:277px}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
	<li class="active">修改宝典</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div>
</block>
<block name="content">
<div class="UploadBox">
<form id='formsubmit' action="__MODULE__/System/type_update_action" method="post" enctype="multipart/form-data">
	<input type="hidden" name="type_id" value="{$type.type_id}">
    <input type="text" name="name" class="UploadValue" value="{$type.type_name}" placeholder="请输入图像名称">
	<div style='position:relative;float:left'>
		<input type="text" name="name" id="LookFind" class="UploadValue" value="{$type.type_pic}" disabled placeholder="请选择需要上传的图像">
		<button type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-folder-open"></i> 浏览</button>
		<input type="file" name="lookname" class="UploadConfirm" id="lookname" size="28" onchange="document.getElementById('LookFind').value=this.value">
	</div>
	<button type="button" class="btn btn-sm btn-success" style='float:left;margin-left:4px' onClick="$('#formsubmit').submit();"><i class="ace-icon fa fa-cloud-upload"></i> 确定</button>
	<button type="button" class="btn btn-sm btn-light" style='float:left;margin-left:4px' onClick='location.href="__MODULE__/System/type_list"'><i class="ace-icon fa fa-arrow-left"></i> 返回</button>
</form>
</div>
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $ (function() {
        $('#receiveMenu1').addClass('active open');
        $('#appointmentItem2').addClass('active');
    });
</script>
</block>