<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'></style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li class="active">大师列表</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"><button class="btn btn-xs btn-pink" onClick='location.href="__MODULE__/Index/users_add"'>添加大师</button></div><!-- /.nav-search -->
</block>
<block name="content">
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
			    <th class="center">排序</th>
				<th class="center">手机号</th>
				<th>密码</th>
				<th>评论总分数</th>
				<th>评论百分比</th>
                <th>手机号</th>
				<th>密码</th>
				<th>持卡人姓名</th>
				<th>银行卡账号</th>
				<th class="hidden-480">
					<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
					哪个银行
				</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td class="center">
				    <div class="hidden-sm hidden-xs action-buttons">
						<a class="red" href="#" style='width:18px'>
							<i class="ace-icon glyphicon glyphicon-arrow-up"></i>
						</a>
					</div>
				</td>
				<td class="center">001</td>
				<td>128人</td>
				<td>540</td>
				<td class="hidden-480">100%</td>
				<td>18028933889</td>
				<td>zhangzhiyuan1984</td>
				<td>刘亚玲</td>
				<td>621789092898767</td>
                <td class="hidden-480">中国建设银行</td>
				<td>
					<div class="hidden-sm hidden-xs btn-group">
						<div class="hidden-sm hidden-xs action-buttons">
							<a class="purple" href="__MODULE__/System/gallery">
								<i class="ace-icon fa fa-picture-o bigger-130"></i>
							</a>

							<a class="blue" href="#" onClick='dialog_see()'>
								<i class="ace-icon fa fa-search-plus bigger-130"></i>
							</a>

							<a class="green" href="#">
								<i class="ace-icon fa fa-pencil bigger-130"></i>
							</a>

							<a class="red" href="#">
								<i class="ace-icon fa fa-trash-o bigger-130"></i>
							</a>
						</div>
					</div>

					<div class="hidden-md hidden-lg">
						<div class="inline position-relative">
							<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
								<i class="ace-icon fa fa-cog icon-only bigger-110"></i>
							</button>

							<ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
								<li>
									<a href="#" class="tooltip-info" data-rel="tooltip" title="" data-original-title="View">
										<span class="blue">
											<i class="ace-icon fa fa-search-plus bigger-120"></i>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="tooltip-success" data-rel="tooltip" title="" data-original-title="Edit">
										<span class="green">
											<i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
										</span>
									</a>
								</li>

								<li>
									<a href="#" class="tooltip-error" data-rel="tooltip" title="" data-original-title="Delete">
										<span class="red">
											<i class="ace-icon fa fa-trash-o bigger-120"></i>
										</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

<!-- 添加房源模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">芭提雅火山岩温泉小镇</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:7px'>
                <div class="col-xs-4">楼盘价格：15000元/㎡</div>
                <div class="col-xs-4">占地面积：180000㎡</div>
				<div class="col-xs-4">物业费用：2000元/年</div>
            </div>
            <div class="row" style='margin-bottom:7px'>
                <div class="col-xs-4">装修状况：毛坯</div>
                <div class="col-xs-4">点击次数：358</div>
				<div class="col-xs-4">发布时间：2015.01.30</div>
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>关闭</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });

    //模态框查看信息
    function dialog_see() {
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}
</script>
</block>