<extend name="./Application/Home/View/base.html" />
<block name="title"><title>Thinkphp - Ace Admin</title></block>
<block name="stylesheets"></block>
<block name="stylecss">
<style type='text/css'>
.ui-dialog {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    outline: 0;
}
.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    position: relative;
}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>个人中心</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">What are you doing ???</block>
<block name="scripts"></block>
<block name="jscript"></block>