<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.pages a,.pages span {
	    display:inline-block;
	    padding:5px 9px;
	    margin:0 1px;
	    border:1px solid #f0f0f0;
	}
	.pages a,.pages li {
	    display:inline-block;
	    list-style: none;
	    text-decoration:none; color:#58A0D3;
	}
	.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
	    margin:0;
	}
	.pages a:hover{
	    border-color:#50A8E6;
	}
	.pages span.current{
	    background:#50A8E6;
	    color:#FFF;
	    font-weight:700;
	    border-color:#50A8E6;
	}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li class="active">大师列表</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search">
	<button class="btn btn-xs btn-pink" onClick='location.href="__MODULE__/Index/users_add"'>添加用户
	</button>
	<button class="btn btn-xs btn-pink" onClick='location.href="__MODULE__/Index/export"'>导出excel
	</button>
</div><!-- /.nav-search -->
</block>
<block name="content">
	<input type="hidden" id="crontab-s" />
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
			    <th class="center">推荐</th>
			    <th class="center">编号</th>
				<th class="center">手机号</th>
				<th>密码</th>
				<th>昵称</th>
				<th>评论人数</th>
				<th>评论总分数</th>
				<th>好评率</th>
				<th>真实姓名</th>
				<th>性别</th>
				<th>余额</th>
				<th class="hidden-480">
					<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
					入驻日期
				</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<foreach name="users" item="v">
			<tr>
				<td class="center">
				    <div class="hidden-sm hidden-xs action-buttons">
				    	<if condition="$v.user_top eq '1'">
				    		<a href="__MODULE__/Index/users_top/user_id/{$v.user_id}/top/{$v.user_top}" style='width:18px;color:#999999'>
								<i class="ace-icon glyphicon glyphicon-arrow-down"></i>
							</a>
						<else />
							<a class="red" href="__MODULE__/Index/users_top/user_id/{$v.user_id}/top/{$v.user_top}" style='width:18px'>
								<i class="ace-icon glyphicon glyphicon-arrow-up"></i>
							</a>
						</if>
					</div>
				</td>
				<td class="center">{$v.user_id}</td>
				<td>{$v.user_tel}</td>
				<td>{$v.user_link}</td>
				<td>{$v.user_username}</td>
				<td>{$v.user_votes}</td>
				<td>{$v.user_value}</td>
				<td>{$v.user_pct}</td>
				<td>{$v.user_name}</td>
				<td>
					<if condition="$v.user_sex eq '0'">
						保密
					<elseif condition="$v.user_sex eq '1'"/>
					    男
				    <else />
				        女
				    </if>
				</td>
				<td>{$v.user_money}</td>
                <td class="hidden-480">{$v.user_date|date='Y-m-d',###}</td>
				<td>
					<div class="hidden-sm hidden-xs btn-group">
						<div class="hidden-sm hidden-xs action-buttons">
							<a class="purple" style='cursor:pointer' onClick='location.href="__MODULE__/Index/users_content_pic/user_id/{$v.user_id}/p/{$p}"' title='添加个人简介图像'>
								<i class="ace-icon fa fa-picture-o bigger-130"></i>
							</a>

							<a class="blue" style='cursor:pointer' title='查看信息'onClick='location.href="__MODULE__/Index/users_look/user_id/{$v.user_id}/p/{$p}"'>
								<i class="ace-icon fa fa-search-plus bigger-130"></i>
							</a>

							<a class="green" style='cursor:pointer' onClick='location.href="__MODULE__/Index/users_edit/user_id/{$v.user_id}/p/{$p}"' title='修改信息'>
								<i class="ace-icon fa fa-pencil bigger-130"></i>
							</a>

							<a class="red" style='cursor:pointer' onClick='dialog_see({$v.user_id})' title='删除大师'>
								<i class="ace-icon fa fa-trash-o bigger-130"></i>
							</a>
							<a class="red" style='cursor:pointer' onClick='location.href="__MODULE__/Index/find_master_list/user_id2/{$v.user_id}/p/{$p}"' title='已私信的大师'>
								<i class="ace-icon fa fa-check bigger-130"></i>
							</a>
<!-- 							<a class="red" style='cursor:pointer' onClick='location.href="__APP__/Chat/find_master_list/user_id2/{$v.user_id}/p/{$p}"' title='已聊过的大师'>
								<i class="ace-icon fa fa-map-marker bigger-130"></i>
							</a> -->
						</div>
					</div>
				</td>
			</tr>
		    </foreach>
		</tbody>
	</table>
<div class="pages" style="float:right">{$page}</div>
<!-- 删除大师模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-sm">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">删除大师</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:15px;margin-left:2px;font-size:14px'>
                如果删除大师，则大师下面的其他数据将找不到该大师，你确定要删除吗？
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>取消</button>
		 	<button type="button" class="btn btn-sm btn-primary" onClick='type_submit()'>确定</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    //模态框查看信息
    function dialog_see(obj) {
    	$('#crontab-s').val(obj);
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}

	//删除分类
    function type_delete(obj) {
    	$('#myModal').modal('show');
    }

    //删除提交
    function type_submit() {
    	var crontab = $('#crontab-s').val();
    	$('#myModal').modal('hide');
    	location.href="__MODULE__/Index/users_del/user_id/"+crontab;
    }
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem4').addClass('active');
    });
</script>
</block>