<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link href="__PUBLIC__/assets/css/select2.css" rel="stylesheet">
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{overflow:hidden}
.UploadValue{width:260px;float:left;margin-right:4px;text-indent:6px}
.UploadConfirm{position:absolute;top:0;left:0;height:35px;filter:alpha(opacity:0);opacity:0;width:337px}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">大师列表</a>
	</li>
	<li class="active">修改大师</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<form action="__MODULE__/Index/users_edit_action" method='post' id='myformedit' enctype="multipart/form-data">
<input type="hidden" id='user_ids' name='user_id' value="{$users.user_id}">
<input type="hidden" name='p' value="{$p}">
<input type="hidden" name='speciality' id='speciality'>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12"><span class="label label-info arrowed-in-right arrowed"><i class="ace-icon fa fa-user bigger-120"></i> 基本信息</span></div>
</div>
<?php
if (!empty($users['user_pic'])) {
?>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-5" style='position:relative'>
		<span class="profile-picture" style='float:left'>
			<img id="avatar" class="editable img-responsive editable-empty" src="{$users.user_pic}" style='width:60px;height:60px'></img>
		</span>
		<div class="UploadBox" style='position:absolute;bottom:0;right:0'>
			<div style='position:relative;float:left'>
				<input type="text" name="user_pic" id="LookFind" class="UploadValue" disabled placeholder="请选择需要上传的图像">
				<button type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-folder-open"></i> 浏览</button>
				<input type="file" name="lookname" class="UploadConfirm" id="lookname" size="28" onchange="document.getElementById('LookFind').value=this.value">
			</div>
		</div>
	</div>
</div>
<?php
} else {
?>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-5">
		<div class="UploadBox">
			<div>
				<input type="text" name="user_pic" id="LookFind" class="UploadValue" disabled placeholder="请选择需要上传的图像">
				<button type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-folder-open"></i> 浏览</button>
				<input type="file" name="lookname" class="UploadConfirm" id="lookname" size="28" onchange="document.getElementById('LookFind').value=this.value">
			</div>
		</div>
	</div>
</div>
<?php
}
?>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-3"><input type="text" name='user_tel' value="{$users.user_tel}" placeholder="手机号：{$users.user_tel}" class="col-xs-12"></div>
	<div class="col-xs-3"><input type="text" name='user_link' value="{$users.user_link}" placeholder="密码：{$users.user_link}" class="col-xs-12"></div>
	<div class="col-xs-2"><input type="text" name='user_username' value="{$users.user_username}" placeholder="昵称：{$users.user_username}" class="col-xs-12"></div>
	<div class="col-xs-1">
		<select class="form-control" name='user_sex'>
			<?php
			if ($users['user_sex'] == '0') {

			?>
				<option value="0" selected>保密</option>
				<option value="1">男</option>
				<option value="2">女</option>
			<?php
            } elseif ($users['user_sex'] == '1') {
			?>
			    <option value="0">保密</option>
				<option value="1" selected>男</option>
				<option value="2">女</option>
			<?php
            } else {
			?>
			    <option value="0">保密</option>
				<option value="1">男</option>
				<option value="2" selected>女</option>
			<?php
            }
			?>
		</select>
	</div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12"><input type="text" name='user_broken' value="{$users.user_broken}" placeholder="个性签名：{$users.user_broken}" class="col-xs-12"></div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12">
		<textarea id="form-field-11" class="autosize-transition form-control" style="overflow:hidden;word-wrap:break-word;resize:horizontal;height:60px;" name='user_content' placeholder="个人简介：{$users.user_content}">{$users.user_content}</textarea>
	</div>
</div>
<div class="row" style="margin-bottom:7px">
	<!--<div class="col-xs-6"><input type="text" name='user_speciality' value="{$users.user_speciality}" placeholder="擅长项目" class="col-xs-12"></div>-->
    <div class="col-xs-6">
		<select class="js-example-tags" multiple="" tabindex="-1" aria-hidden="true" id='ppppppp' data-placeholder="请选择大师擅长的项目（支持多选）" style='width:510px'></select>
	</div>
	<div class="col-xs-3"><input type="text" placeholder="入驻日期：{$users.user_date|date='Y.m.d H:i:s',###}" class="col-xs-12" disabled="disabled"></div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12"><span class="label label-warning arrowed"><i class="ace-icon fa fa-jpy bigger-120"></i> 评论信息</span></div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-1" style='height:32px;line-height:32px;font-size:16px'>评论人数</div>
	<div class="col-xs-2"><input type="text" name='user_votes' placeholder="评论人数：{$users.user_votes} 人" class="col-xs-12" value="{$users.user_votes}" id='user_votes' onkeyup='votes_num()'></div>
	<div class="col-xs-1" style='height:32px;line-height:32px;font-size:16px'>评论分数</div>
	<div class="col-xs-2"><input type="text" name='user_value' placeholder="评论总分数：{$users.user_value} 分" class="col-xs-12" value="{$users.user_value}" id='user_value' onkeyup='votes_num()'></div>
	<div class="col-xs-1" style='height:32px;line-height:32px;font-size:16px'>好评比例</div>
	<div class="col-xs-2"><input type="text" name='user_pct' value="{$users.user_pct}%" id='user_pct' class="col-xs-12" readonly="readonly"></div>
</div>
<div class="row" style="margin-bottom:7px">
	<div class="col-xs-12"><span class="label label-success arrowed"><i class="ace-icon fa fa-jpy bigger-120"></i> 银行卡信息</span></div>
</div>
<div class="row" style="margin-bottom:20px">
	<div class="col-xs-2"><input type="text" name='user_name' value="{$users.user_name}" placeholder="持卡人姓名：{$users.user_name}" class="col-xs-12"></div>
	<div class="col-xs-5"><input type="text" name='user_ccb' value="{$users.user_ccb}" placeholder="所属银行：{$users.user_ccb}" class="col-xs-12"></div>
	<div class="col-xs-3"><input type="text" name='user_card' value="{$users.user_card}" placeholder="银行卡卡号：{$users.user_card}" class="col-xs-12"></div>
	<div class="col-xs-2"><input type="text" name='user_money' value="{$users.user_money}" placeholder="账户余额：{$users.user_money} 元" class="col-xs-12"></div><!--disabled="disabled"-->
</div>
<button class="btn btn-primary" onClick="speciality_action()">提交</button> <span class="btn" onClick="location.href='__MODULE__/Index/users/p/{$p}/user_id/{$user_id}'">返回</span>
</form>
</block>
<block name="scripts">
<script src="__PUBLIC__/assets/js/select2.js"></script>
</block>
<block name="jscript">
<script type="text/javascript">
    function votes_num() {
    	var user_votes = $('#user_votes').val();
    	var user_value = $('#user_value').val();
    	var num = user_value/user_votes;
    	var aaa = num.toFixed(2);
    	var bbb = aaa * 0.1;
    	var ccc = bbb * 100;
    	var ddd = ccc + 50;
    	var eee = ddd . toFixed(1);
    	var fff = eee + '%';
    	$('#user_pct').val(fff);
    }
    function speciality_action() {
    	var str = $('#ppppppp').select2('data');
        var lists = "";
        for (var i = 0; i < str.length; i++) {
        	//str[i].id or str[i].text
        	lists += str[i].id+',';
        };
        $('#speciality').val(lists);
    	$('#myformedit').submit();
    }
</script>
<script type="text/javascript">
    jQuery(function($){
		$('.select2').css('width','510px').select2({allowClear:true})
		$('#select2-multiple-style .btn').on('click', function(e){
			var target = $(this).find('input[type=radio]');
			var which = parseInt(target.val());
			if(which == 2) $('.select2').addClass('tag-input-style');
			 else $('.select2').removeClass('tag-input-style');
		});
	});
	$(function(){
		var obj = $('#user_ids').val();
        $.ajax({
	        url:'__MODULE__/Index/users_edit_as',
	        type:'POST',
	        cache:false,
	        dataType:'json',
	        data:'user_id='+obj,
	        success:function(msg) {
	            if(!msg.code){msg.code=[];}
	            if(!msg.category){msg.category=[];}
	            if(!msg.speciality){msg.speciality=[];}
	            if(msg.code == '1') {
	                var list_category = "";
	                if(msg.speciality != '') {
		            	for (var i = 0; i < msg.category.length; i++) {
		            		for (var j = 0; j < msg.speciality.length; j++) {
		            			if(msg.category[i].category_id == msg.speciality[j]) {
			            	        list_category += "<option value='"+msg.category[i].category_id+"' selected='selected'>"+msg.category[i].category_name+"</option>";
			            	        break;
			            	    }else{
			            	    	if(j == msg.speciality.length - 1) {
		                                list_category += "<option value='"+msg.category[i].category_id+"'>"+msg.category[i].category_name+"</option>";
			            	    	}
			            	    }
		            		};
		            	};
		            } else {
		            	for (var i = 0; i < msg.category.length; i++) {
		            	    list_category += "<option value='"+msg.category[i].category_id+"'>"+msg.category[i].category_name+"</option>";
		            	}
		            }
	                $('#ppppppp').html(list_category);
	                $("#ppppppp").select2();
	            }
	        }
	    });
    });
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });
</script>
</block>