<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.profile-user-info {margin:0;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">大师列表</a>
	</li>
	<li class="active">查看大师详细信息</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<div class="left">
    <!-- <span class="profile-picture" style="float:left;margin-right:10px">
    		<img id="avatar" class="editable img-responsive editable-empty" src="/renren/uploads/20160120112529585.png" style="width:68px;height:68px">
    	</span> -->
    <span class="btn btn-app btn-sm btn-light no-hover" style='padding:5px;width:100px;margin-right:20px'>
		<img src="<?php echo $users['user_pic'];?>" style="width:90px;height:90px">
	</span>
	<span class="btn btn-app btn-sm btn-yellow no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $users['user_money'];?> </span>

		<br>
		<span class="line-height-1 smaller-90"> 余额 </span>
	</span>

	<span class="btn btn-app btn-sm btn-grey no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $users['user_votes'];?> </span>

		<br>
		<a href="/index.php/Home/Content/content_list/user_id/{$user_id}/p/{$p}"><span class="line-height-1 smaller-90"> 评论人数 </span></a>
	</span>

	<span class="btn btn-app btn-sm btn-success no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $users['user_value'];?> </span>

		<br>
		<span class="line-height-1 smaller-90"> 评论分数 </span>
	</span>

	<span class="btn btn-app btn-sm btn-primary no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $users['user_pct'];?>% </span>

		<br>
		<span class="line-height-1 smaller-90"> 好评比例 </span>
	</span>
</div>

<div class="space-12"></div>

<!-- #section:pages/profile.info -->
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name"> 真实姓名 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="username"><?php echo $users['user_name'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 银行卡号 </div>

		<div class="profile-info-value">
			<i class="fa fa-map-marker light-orange bigger-110"></i>
			<span class="editable editable-click" id="country"><?php echo $users['user_card'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 开户行 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="age"><?php echo $users['user_ccb'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 昵称 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="signup"><?php echo $users['user_username'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 性别 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="login">
			<?php
			if ($users['user_sex'] == '0') {
				echo '保密';
			} elseif($users['user_sex'] == '1') {
				echo '男';
			} else {
				echo '女';
			}
			?>
		    </span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 手机号 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo $users['user_tel'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 密码 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo $users['user_link'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 入驻平台时间 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo date('Y年m月d日 H点i分s秒', $users['user_date']);?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 个性签名 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo $users['user_broken'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 个人简介 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo $users['user_content'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 擅长项目 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">
				<?php
				foreach ($category as $key => $value) {
					echo $value['category_name'].' ';
				}
				?>
			</span>
		</div>
	</div>

</div>

<div class="space-12"></div>

<button type="button" class="btn btn-sm btn-light" onclick="location.href='__MODULE__/Index/users/p/{$p}'"><i class="ace-icon fa fa-arrow-left"></i> 返回</button>

</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });
</script>
</block>