<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/colorbox.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{width:100%;padding:15px 0;margin-bottom:15px;border-bottom:1px dashed #efefef;overflow:hidden}
.UploadValue{width:300px;float:left;margin-right:4px;text-indent:6px}
.UploadConfirm{position:absolute;top:0;left:0;height:35px;filter:alpha(opacity:0);opacity:0;width:377px}
.sidebar .sidebar-shortcuts-large > .btn {border-width:2px;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="__MODULE__/Index/users/p/{$p}">大师列表</a>
	</li>
	<li class="active">添加个人简介图像</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"><!--<button class="btn btn-xs btn-pink" onClick="javascript:location.href='__SELF__'">添加图像</button>--></div><!-- /.nav-search -->
</block>
<block name="content">
<form action="__MODULE__/Index/users_content_pic_action" method='post' id='myformedit' enctype="multipart/form-data">
<input type="hidden" name='user_id' value="{$user_id}">
<input type="hidden" name='p' value="{$p}">
<div class="UploadBox">
	<div style='position:relative;float:left'>
		<input type="text" name="name" id="LookFind" class="UploadValue" disabled placeholder="请选择需要上传的图像">
		<button type="button" class="btn btn-sm btn-primary"><i class="ace-icon fa fa-folder-open"></i> 浏览</button>
		<input type="file" name="lookname" class="UploadConfirm" id="lookname" size="28" onchange="document.getElementById('LookFind').value=this.value">
	</div>
	<button type="button" class="btn btn-sm btn-success" style='float:left;margin-left:4px' onClick="$('#myformedit').submit()"><i class="ace-icon fa fa-cloud-upload"></i> 确定</button>
	<button type="button" class="btn btn-sm btn-light" style='float:left;margin-left:4px' onClick='location.href="__MODULE__/Index/users/p/{$p}"'><i class="ace-icon fa fa-arrow-left"></i> 返回</button>
</div>
</form>
<div style='clear:both;'>
	<ul class="ace-thumbnails clearfix">
		<foreach name="pic" item="v">
			<li>
				<a href="__ROOT__/uploads/{$v}" data-rel="colorbox" class="cboxElement">
					<img width="150" height="150" alt="150x150" src="__ROOT__/uploads/{$v}">
				</a>

				<div class="tags">
					<span class="label-holder">
						<span class="label label-danger arrowed" style='cursor:pointer' onClick="location.href='__MODULE__/Index/img_del/img/{$v}/user_id/{$user_id}/p/{$p}'">删除</span>
					</span>
				</div>
			</li>
	    </foreach>
	</ul>
</div>
</block>
<block name="scripts">
<script src="__PUBLIC__/assets/js/jquery.colorbox.js"></script>
</block>
<block name="jscript">
<script type="text/javascript">
	jQuery(function($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition:true,
			scalePhotos:true,
			scrolling:false,
			previous:'<i class="ace-icon fa fa-arrow-left"></i>',
			next:'<i class="ace-icon fa fa-arrow-right"></i>',
			close:'&times;',
			current:'{current} / {total}',
			maxWidth:'100%',
			maxHeight:'100%',
			onOpen:function(){
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed:function(){
				document.body.style.overflow = $overflow;
			},
			onComplete:function(){
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
		$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon
		
		
		$(document).one('ajaxloadstart.page', function(e) {
			$('#colorbox, #cboxOverlay').remove();
	   });
	})
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });
</script>
</block>