<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{width:100%;padding:15px 0;margin-bottom:15px;border-bottom:1px dashed #efefef;overflow:hidden}
.UploadValue{width:230px;float:left;margin-right:4px;text-indent:6px}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">大师列表</a>
	</li>
	<li class="active">添加大师</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<div class="UploadBox">
<form id='formsubmit' action="__MODULE__/Index/users_action" method="post" enctype="multipart/form-data">
    <input type="text" name="tel" class="UploadValue" placeholder="请输入大师登录的手机号">
    <input type="text" name="pwd" class="UploadValue" placeholder="请输入大师登录的密码">
	<button type="button" class="btn btn-sm btn-success" style='float:left' onClick="$('#formsubmit').submit();">确定</button>
	<button type="button" class="btn btn-sm btn-light" style='float:left;margin-left:4px' onClick='location.href="__MODULE__/Index/users/p/1"'><i class="ace-icon fa fa-arrow-left"></i> 返回</button>
</form>
</div>
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });
</script>
</block>