<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.pages a,.pages span {
	    display:inline-block;
	    padding:5px 9px;
	    margin:0 1px;
	    border:1px solid #f0f0f0;
	}
	.pages a,.pages li {
	    display:inline-block;
	    list-style: none;
	    text-decoration:none; color:#58A0D3;
	}
	.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
	    margin:0;
	}
	.pages a:hover{
	    border-color:#50A8E6;
	}
	.pages span.current{
	    background:#50A8E6;
	    color:#FFF;
	    font-weight:700;
	    border-color:#50A8E6;
	}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="__MODULE__/Index/users/p/{$p}">大师列表</a>
	</li>
	<li class="active">查看大师评论</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
</block>
<block name="content">
	<input type="hidden" id="crontab-s" />
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th class="center">评论人</th>
				<th class="center">星级</th>
				<th class="center">内容</th>
				<th class="center">时间</th>
				<th class="center">操作</th>
			</tr>
		</thead>

		<tbody>
			<foreach name="content" item="v">
			<tr>
				<td class="center">
				<img src="/uploads/{$v.user_pic}" alt="" width="50px" height="50px"/><br />
				{$v.user_username}
				</td>
				<td class="center">{$v.ask_value}</td>
				<td class="center">{$v.ask_content}</td>
                <td class="center">{$v.ask_date|date='Y-m-d',###}</td>
				<td class="center">
					<div class="hidden-sm hidden-xs btn-group">
						<div class="hidden-sm hidden-xs action-buttons">
							<a class="red" style='cursor:pointer' onClick='dialog_see({$v.ask_id})' title='删除评论'>
								<i class="ace-icon fa fa-trash-o bigger-130"></i>
							</a>
						</div>
					</div>
				</td>
			</tr>
		    </foreach>
		<input type="hidden" id="user_id" value="{$user_id}"/>
		</tbody>
	</table>
<div class="pages" style="float:right">{$page}</div>
<!-- 删除大师模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-sm">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">删除大师</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:15px;margin-left:2px;font-size:14px'>
                删除评论用户将看不到该评论,你确定要删除吗？
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>取消</button>
		 	<button type="button" class="btn btn-sm btn-primary" onClick='type_submit()'>确定</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    //模态框查看信息
    function dialog_see(obj) {
    	$('#crontab-s').val(obj);
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}

	//删除分类
    function type_delete(obj) {
    	$('#myModal').modal('show');
    }

    //删除提交
    function type_submit() {
    	var crontab = $('#crontab-s').val();
    	var user_id = $('#user_id').val();
    	$('#myModal').modal('hide');
    	location.href="__MODULE__/Content/content_del/ask_id/"+crontab+"/user_id/"+user_id;
    }
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu2').addClass('active open');
        $('#appointmentItem3').addClass('active');
    });
</script>
</block>