<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.profile-user-info {margin:0;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/Index/users/p/{$p}">文章列表</a>
	</li>
	<li class="active">查看文章详情</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">
<div class="left">
    <!-- <span class="profile-picture" style="float:left;margin-right:10px">
    		<img id="avatar" class="editable img-responsive editable-empty" src="/renren/uploads/20160120112529585.png" style="width:68px;height:68px">
    	</span> -->
    <span class="btn btn-app btn-sm btn-light no-hover" style='padding:5px;width:100px;margin-right:20px'>
		<img src="__ROOT__/uploads/<?php echo $article['user_pic'];?>" style="width:90px;height:90px"><br />
		<?php echo $article['user_username'];?>
	</span>
	<span class="btn btn-app btn-sm btn-yellow no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $article['praise_count'];?> </span>

		<br>
		<span class="line-height-1 smaller-90"> 点赞数 </span>
	</span>

	<span class="btn btn-app btn-sm btn-grey no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $article['comment_count'];?> </span>

		<br>
		<a href="/index.php/Home/Content/content_list/user_id/{$user_id}/p/{$p}"><span class="line-height-1 smaller-90"> 评论人数 </span></a>
	</span>

	<span class="btn btn-app btn-sm btn-success no-hover" style='margin-bottom:-22px'>
		<span class="line-height-1 bigger-120"> <?php echo $article['collection_count'];?> </span>

		<br>
		<span class="line-height-1 smaller-90"> 收藏数</span>
	</span>

	
</div>

<div class="space-12"></div>

<!-- #section:pages/profile.info -->
<div class="profile-user-info profile-user-info-striped" >
	<div class="profile-info-row">
		<div class="profile-info-name">文章标题</div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="username"><?php echo $article['article_title'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 文章图片 </div>

		<div class="profile-info-value">
			
			<span class="editable editable-click" id="country"><img src="<?php echo $article['article_pic'];?>" alt="" width="100px" height="100px"/></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 文章内容</div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="age"><?php echo $article['article_content'];?></span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name">是否通过审核</div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="signup">
				<if condition="$article['article_status'] eq 1 ">已通过    <else /> 未通过</if>
			</span>
		</div>
	</div>
	<div class="profile-info-row">
		<div class="profile-info-name"> 发布时间 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about"><?php echo date('Y年m月d日 H点i分s秒', $article['article_date']);?></span>
		</div>
	</div>

	</div>
<div class="space-12"></div>

<button type="button" class="btn btn-sm btn-light" onclick="location.href='__MODULE__/Article/article_list/p/{$p}'"><i class="ace-icon fa fa-arrow-left"></i> 返回</button>

</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu3').addClass('active open');
        $('#appointmentItem4').addClass('active');
    });
</script>
</block>