<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.profile-user-info {margin:0;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>
    <li>
		<a href="__MODULE__/OrderManage/showAllOrder/p/{$p}">订单列表</a>
	</li>
	<li class="active">查看列表详细信息</li>
</ul><!-- /.breadcrumb -->

<!-- #section:basics/content.searchbox -->
<div class="nav-search" id="nav-search"></div><!-- /.nav-search -->
</block>
<block name="content">

<!-- #section:pages/profile.info -->
<div class="profile-user-info profile-user-info-striped" >
	
	<div class="profile-info-row">
		<div class="profile-info-name">支付人姓名 </div>
		<div class="profile-info-value">
			<input class="editable editable-click" id="username" name="username" value="{$order.payname}"></input>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 支付人银行卡号 </div>

		<div class="profile-info-value">
			<i class="fa fa-map-marker light-orange bigger-110"></i>
			<input class="editable editable-click" name="user_card" value="{$order.user_card}"/>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 支付人开户行 </div>

		<div class="profile-info-value">
			<input class="editable editable-click" name ="user_ccb" value="{$order.user_ccb2}" maxlength="20"/>			
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name">收款人姓名 </div>	
		<div class="profile-info-value">
			<span class="editable editable-click" id="username">{$order.chargeName}</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 收款人银行卡号 </div>

		<div class="profile-info-value">
			<i class="fa fa-map-marker light-orange bigger-110"></i>
			<span class="editable editable-click" id="country">{$order.user_card2}</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 收款人开户行 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="age">{$order.user_ccb}</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 手机号 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">{$order.user_tel}</span>
		</div>
	</div>
	
	<div class="profile-info-row">
		<div class="profile-info-name"> 交易时间 </div>
		<div class="profile-info-value">
			<span class="editable editable-click" id="about">{$order.order_date}</span>
		</div>
	</div>

</div>

<div class="space-12"></div>

<button type="button" class="btn btn-sm btn-light" onclick="location.href='__MODULE__/OrderManage/showAllOrder/p/{$order.p}'"><i class="ace-icon fa fa-arrow-left"></i> 返回</button>

</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    $(function(){
        $('#receiveMenu5').addClass('active open');
        $('#appointmentItem5').addClass('active');
    });
</script>
</block>