<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/jquery-ui.css" />
</block>
<block name="stylecss">
<style type='text/css'>
	.pages a,.pages span {
	    display:inline-block;
	    padding:5px 9px;
	    margin:0 1px;
	    border:1px solid #f0f0f0;
	}
	.pages a,.pages li {
	    display:inline-block;
	    list-style: none;
	    text-decoration:none; color:#58A0D3;
	}
	.pages a.first,.pages a.prev,.pages a.next,.pages a.end{
	    margin:0;
	}
	.pages a:hover{
	    border-color:#50A8E6;
	}
	.pages span.current{
	    background:#50A8E6;
	    color:#FFF;
	    font-weight:700;
	    border-color:#50A8E6;
	}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li class="active">订单列表</li>
</ul><!-- /.breadcrumb -->

</block>
<block name="content">
	<input type="hidden" id="crontab-s" />
	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
			    <th class="center">推荐</th>
				<th class="center">订单编号</th>
				<th>收款人姓名</th>
				<th>发款人姓名</th>				
				<th>交易金额</th>
				<th class="hidden-480">
					<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
					交易日期
				</th>
				<th>操作</th>
			</tr>
		</thead>

		<tbody>
			<foreach name="orders" item="v">
			<tr>
				<td class="center">
				    <div class="hidden-sm hidden-xs action-buttons">
				    	<if condition="$v.user_top eq '1'">
				    		<a href="__MODULE__/Index/order_top/user_id/{$v.user_id}/top/{$v.user_top}" style='width:18px;color:#999999'>
								<i class="ace-icon glyphicon glyphicon-arrow-down"></i>
							</a>
						<else />
							<a class="red" href="__MODULE__/Index/order_top/user_id/{$v.user_id}/top/{$v.user_top}" style='width:18px'>
								<i class="ace-icon glyphicon glyphicon-arrow-up"></i>
							</a>
						</if>
					</div>
				</td>
				<td class="hidden">{$v.id}</td>
				<td class="center">{$v.order_id}</td>
				<td>{$v.charge_username.user_username}</td>
				<td>{$v.pay_username.user_username}</td>				
				<td>{$v.order_balance}</td>
                <td class="hidden-480">{$v.user_date|date='Y-m-d',###}</td>
				<td>
					<div class="hidden-sm hidden-xs btn-group">
						<div class="hidden-sm hidden-xs action-buttons">

							<a class="blue" style='cursor:pointer' title='查看信息'onClick='location.href="__MODULE__/OrderManage/detailOrder/order_id/{$v.id}/p/{$p}"'>
								<i class="ace-icon fa fa-search-plus bigger-130"></i>
							</a>

							<a class="green" style='cursor:pointer' onClick='location.href="__MODULE__/OrderManage/editOrder/order_id/{$v.id}/p/{$p}"' title='修改信息'>
								<i class="ace-icon fa fa-pencil bigger-130"></i>
							</a>

							<a class="red" style='cursor:pointer' onClick='dialog_see({$v.id})' title='删除订单'>
								<i class="ace-icon fa fa-trash-o bigger-130"></i>
							</a>
						</div>
					</div>
				</td>
			</tr>
		    </foreach>
		</tbody>
	</table>
<div class="pages" style="float:right">{$page}</div>
<!-- 删除订单模态框（Modal） -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-sm">
	  <div class="modal-content">
		 <div class="modal-header">
			<button type="button" class="close" aria-hidden="true" onClick='modal_close()'>×</button>
			<h4 class="modal-title" id="myModalLabel">删除订单</h4>
		 </div>
		 <div class="modal-body" style='padding-bottom:0px'>
            <div class="row" style='margin-bottom:15px;margin-left:2px;font-size:14px'>
                如果删除订单，则订单下面的其他数据将找不到该订单，你确定要删除吗？
            </div>
		 </div>
		 <div class="modal-footer">
		 	<button data-bb-handler="button" type="button" class="btn btn-sm" onClick='modal_close()'>取消</button>
		 	<button type="button" class="btn btn-sm btn-primary" onClick='type_submit()'>确定</button>
		 </div>
	  </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</block>
<block name="scripts"></block>
<block name="jscript">
<script script="text/javascript">
    //模态框查看信息
    function dialog_see(obj) {
    	$('#crontab-s').val(obj);
		$('#myModal').modal('show');
	}

	//模态框关闭
	function modal_close() {
		$('#myModal').modal('hide');
	}

	//删除分类
    function type_delete(obj) {
    	$('#myModal').modal('show');
    }

    //删除提交
    function type_submit() {
    	var crontab = $('#crontab-s').val();
    	$('#myModal').modal('hide');
    	location.href="__MODULE__/OrderManage/deleteOrder/order_id/"+crontab;
    }
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu5').addClass('active open');
        $('#appointmentItem51').addClass('active');
    });
</script>
</block>