<ul class="nav nav-list">
	<li class="" id="receiveMenu10">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-edit"></i>
			<span class="menu-text">主页</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem1">
				<a href="__MODULE__/Login/save_password">
					<i class="menu-icon fa fa-caret-right"></i>
					修改密码
				</a>

				<b class="arrow"></b>
			</li>
			<li class="" id="appointmentItem2">
				<a href="__MODULE__/Login/login_add">
					<i class="menu-icon fa fa-caret-right"></i>
					添加管理员
				</a>

				<b class="arrow"></b>
			</li>
			<li class="" id="appointmentItem3">
				<a href="__MODULE__/Login/liste">
					<i class="menu-icon fa fa-caret-right"></i>
					管理员列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>
    <li class="" id="receiveMenu1">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-cog"></i>
			<span class="menu-text"> 系统设置 </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem11">
				<a href="__MODULE__/System/category_list">
					<i class="menu-icon fa fa-caret-right"></i>
					项目分类
				</a>

				<b class="arrow"></b>
			</li>

			<li class="" id="appointmentItem12">
				<a href="__MODULE__/System/type_list">
					<i class="menu-icon fa fa-caret-right"></i>
					宝典分类
				</a>

				<b class="arrow"></b>
			</li>
			
		</ul>
	</li>
	<li class="" id="receiveMenu2">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-user"></i>
			<span class="menu-text"> 用户管理 </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem21">
				<a href="__MODULE__/Index/users/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					大师列表
				</a>

				<b class="arrow"></b>
			</li>
			<li class="" id="appointmentItem4">
				<a href="__MODULE__/Index/ordinary_user/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					用户列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="" id="receiveMenu3">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-book"></i>
			<span class="menu-text">文章管理</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem31">
				<a href="__MODULE__/Article/article_list/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					文章列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="" id="receiveMenu5">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-order"></i>
			<span class="menu-text">订单管理</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem51">
				<a href="__MODULE__/OrderManage/showAllOrder/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					订单列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="" id="receiveMenu6">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-chat"></i>
			<span class="menu-text">聊天记录管理</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem61">
				<a href="__MODULE__/Chat/masterList/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					聊天记录列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="" id="receiveMenu7">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-chat"></i>
			<span class="menu-text">文波图片管理</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem71">
				<a href="__MODULE__/WenBo/findAllPic/p/1">
					<i class="menu-icon fa fa-caret-right"></i>
					文波图片列表
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>


	<li class="" id="receiveMenu4">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-edit"></i>
			<span class="menu-text">关于我们</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="" id="appointmentItem41">
				<a href="__MODULE__/System/about">
					<i class="menu-icon fa fa-caret-right"></i>
					关于人人算
				</a>

				<b class="arrow"></b>
			</li>
			<li class="" id="appointmentItem42">
				<a href="__MODULE__/System/agreement">
					<i class="menu-icon fa fa-caret-right"></i>
					人人算协议
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	

</ul>
<!--<ul class="nav nav-list">
	<li class="">
		<a href="index.html">
			<i class="menu-icon fa fa-tachometer"></i>
			<span class="menu-text"> Dashboard </span>
		</a>

		<b class="arrow"></b>
	</li>

	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-desktop"></i>
			<span class="menu-text">
				UI &amp; Elements
			</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>

					Layouts
					<b class="arrow fa fa-angle-down"></b>
				</a>

				<b class="arrow"></b>

				<ul class="submenu">
					<li class="">
						<a href="top-menu.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Top Menu
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="two-menu-1.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Two Menus 1
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="two-menu-2.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Two Menus 2
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="mobile-menu-1.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Default Mobile Menu
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="mobile-menu-2.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Mobile Menu 2
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="mobile-menu-3.html">
							<i class="menu-icon fa fa-caret-right"></i>
							Mobile Menu 3
						</a>

						<b class="arrow"></b>
					</li>
				</ul>
			</li>

			<li class="">
				<a href="typography.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Typography
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="elements.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Elements
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="buttons.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Buttons &amp; Icons
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="content-slider.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Content Sliders
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="treeview.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Treeview
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="jquery-ui.html">
					<i class="menu-icon fa fa-caret-right"></i>
					jQuery UI
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="nestable-list.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Nestable Lists
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="#" class="dropdown-toggle">
					<i class="menu-icon fa fa-caret-right"></i>

					Three Level Menu
					<b class="arrow fa fa-angle-down"></b>
				</a>

				<b class="arrow"></b>

				<ul class="submenu">
					<li class="">
						<a href="#">
							<i class="menu-icon fa fa-leaf green"></i>
							Item #1
						</a>

						<b class="arrow"></b>
					</li>

					<li class="">
						<a href="#" class="dropdown-toggle">
							<i class="menu-icon fa fa-pencil orange"></i>

							4th level
							<b class="arrow fa fa-angle-down"></b>
						</a>

						<b class="arrow"></b>

						<ul class="submenu">
							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-plus purple"></i>
									Add Product
								</a>

								<b class="arrow"></b>
							</li>

							<li class="">
								<a href="#">
									<i class="menu-icon fa fa-eye pink"></i>
									View Products
								</a>

								<b class="arrow"></b>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</li>

	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-list"></i>
			<span class="menu-text"> Tables </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="tables.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Simple &amp; Dynamic
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="jqgrid.html">
					<i class="menu-icon fa fa-caret-right"></i>
					jqGrid plugin
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-pencil-square-o"></i>
			<span class="menu-text"> Forms </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="form-elements.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Form Elements
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="form-elements-2.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Form Elements 2
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="form-wizard.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Wizard &amp; Validation
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="wysiwyg.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Wysiwyg &amp; Markdown
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="dropzone.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Dropzone File Upload
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="">
		<a href="widgets.html">
			<i class="menu-icon fa fa-list-alt"></i>
			<span class="menu-text"> Widgets </span>
		</a>

		<b class="arrow"></b>
	</li>

	<li class="">
		<a href="calendar.html">
			<i class="menu-icon fa fa-calendar"></i>

			<span class="menu-text">
				Calendar

				<span class="badge badge-transparent tooltip-error" title="2 Important Events">
					<i class="ace-icon fa fa-exclamation-triangle red bigger-130"></i>
				</span>

			</span>
		</a>

		<b class="arrow"></b>
	</li>

	<li class="">
		<a href="gallery.html">
			<i class="menu-icon fa fa-picture-o"></i>
			<span class="menu-text"> Gallery </span>
		</a>

		<b class="arrow"></b>
	</li>

	<li class="">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-tag"></i>
			<span class="menu-text"> More Pages </span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="profile.html">
					<i class="menu-icon fa fa-caret-right"></i>
					User Profile
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="inbox.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Inbox
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="pricing.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Pricing Tables
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="invoice.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Invoice
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="timeline.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Timeline
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="email.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Email Templates
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="login.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Login &amp; Register
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>

	<li class="active open">
		<a href="#" class="dropdown-toggle">
			<i class="menu-icon fa fa-file-o"></i>

			<span class="menu-text">
				Other Pages

				<span class="badge badge-primary">5</span>

			</span>

			<b class="arrow fa fa-angle-down"></b>
		</a>

		<b class="arrow"></b>

		<ul class="submenu">
			<li class="">
				<a href="faq.html">
					<i class="menu-icon fa fa-caret-right"></i>
					FAQ
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="error-404.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Error 404
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="error-500.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Error 500
				</a>

				<b class="arrow"></b>
			</li>

			<li class="">
				<a href="grid.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Grid
				</a>

				<b class="arrow"></b>
			</li>

			<li class="active">
				<a href="blank.html">
					<i class="menu-icon fa fa-caret-right"></i>
					Blank Page
				</a>

				<b class="arrow"></b>
			</li>
		</ul>
	</li>
</ul>-->