<extend name="./Application/Home/View/base.html" />
<block name="title"><title>人人算PC端管理</title></block>
<block name="stylesheets">
<link rel="stylesheet" href="__PUBLIC__/assets/css/colorbox.css" />
<link rel="stylesheet" href="__PUBLIC__/assets/css/ace.css" class="ace-main-stylesheet" id="main-ace-style" />
</block>
<block name="stylecss">
<style type='text/css'>
.UploadBox{width:100%;padding:15px 0;margin-bottom:15px;border-bottom:1px dashed #efefef;overflow:hidden}
.UploadValue{width:300px;float:left;margin-right:4px;text-indent:6px}
.UploadConfirm{position:absolute;top:0;left:0;height:35px;filter:alpha(opacity:0);opacity:0;width:377px}
.sidebar .sidebar-shortcuts-large > .btn {border-width:2px;}
</style>
</block>
<block name="smallmenu">
<ul class="breadcrumb">
	<li>
		<i class="ace-icon fa fa-home home-icon"></i>
		<a href="#">主页</a>
	</li>

	<li>
		<a href="__MODULE__/Index/users/p/{$p}">文波图片列表</a>
	</li>
	<li class="active">查看文波图像</li>
</ul><!-- /.breadcrumb -->

</block>
<block name="content">

<span class="btn btn-app btn-sm btn-light no-hover" style='padding:5px;width:100px;margin-right:20px'>
	<img src="{$layer.layer_pic}" style="width:90px;height:90px">
</span>

<div class="profile-user-info profile-user-info-striped" >

	<div class="profile-info-row">
		<div class="profile-info-name"> 轮波连接 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">{$layer.layer_link}</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 置顶日期 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">{$layer.layer_topdate}</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 入驻平台时间 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">
				<?php echo date('Y年m月d日 H点i分s秒', $users['user_date']);?>

			</span>
		</div>
	</div>

	<div class="profile-info-row">
		<div class="profile-info-name"> 添加日期 </div>

		<div class="profile-info-value">
			<span class="editable editable-click" id="about">{$layer.layer_date}</span>
		</div>
	</div>

	<div class="UploadBox">
		<button type="button" class="btn btn-sm btn-light" style='float:left;margin-left:4px' onClick='location.href="__MODULE__/WenBo/findAllPic/p/1"'><i class="ace-icon fa fa-arrow-left"></i> 返回</button>
	</div>
</div>
</block>
<block name="scripts">
<script src="__PUBLIC__/assets/js/jquery.colorbox.js"></script>
</block>
<block name="jscript">
<script type="text/javascript">
	jQuery(function($) {
		var $overflow = '';
		var colorbox_params = {
			rel: 'colorbox',
			reposition:true,
			scalePhotos:true,
			scrolling:false,
			previous:'<i class="ace-icon fa fa-arrow-left"></i>',
			next:'<i class="ace-icon fa fa-arrow-right"></i>',
			close:'&times;',
			current:'{current} / {total}',
			maxWidth:'100%',
			maxHeight:'100%',
			onOpen:function(){
				$overflow = document.body.style.overflow;
				document.body.style.overflow = 'hidden';
			},
			onClosed:function(){
				document.body.style.overflow = $overflow;
			},
			onComplete:function(){
				$.colorbox.resize();
			}
		};

		$('.ace-thumbnails [data-rel="colorbox"]').colorbox(colorbox_params);
		$("#cboxLoadingGraphic").html("<i class='ace-icon fa fa-spinner orange fa-spin'></i>");//let's add a custom loading icon
		
		
		$(document).one('ajaxloadstart.page', function(e) {
			$('#colorbox, #cboxOverlay').remove();
	   });
	})
</script>
<script script="text/javascript">
    $(function(){
        $('#receiveMenu7').addClass('active open');
        $('#appointmentItem71').addClass('active');
    });
</script>
</block>